body
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

background: #F4E8DE;
}
.header
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #A77C5D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 468px;
    height: 56px;
    border: 1px dashed #7B61FF;
    border-radius: 5px;

}

.header__left
{   display: flex;
    align-items: center;
    column-gap: -4px;
    margin-left: 16px;
}
.header__right
{
    display: flex;
    align-items: center;
    padding: 15px;
}

.main_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 468px;
    height: 706px;
    margin-block-start: 24px;
}

.cat_card_box
{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: #F4E8DE;
    width: 404px;
    height: 108px;
    border: 1px solid #A77C5D;
    box-shadow: 0px 4px 4px #C4C4C4;
    border-radius: 12px;
}
.cat_card_logo
{
    align-self: center;
    display: flex;
    column-gap: 24px;
    margin-left: 24px;
    
}
.cat_card_text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cat_card_icon
{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    justify-content: space-between;
    column-gap: 46px;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 12px;
}
.cat_card_name
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cat_card_weight
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}
